.trait-green {
    border: 0;
    border-bottom: solid 3px #29941b;
    display: inline-flex;
    margin: 0.5em 0;
    width:90%;
}



.bloc-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 500px;
    box-sizing: border-box;
    padding: 0 0 0 0.5em;
    text-align: justify;
}

.bloc-box-big {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    box-sizing: border-box;
    padding: 0 0 0 0.5em;
    text-align: justify;
}

.image.left{
    float:left;
    padding: 0 1.5em 1em 0;
    top: 0.25em;
}

.article_vs_bis {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: rgb(39, 163, 55) 2px solid;
    border-radius: 50px;
    background-color: bisque;
    margin: 5px;
    box-shadow: 5px 5px 5px black;
    padding: 5px;
    text-align: center;
    color: rgb(128, 62, 8);
    
  }

  .justific {
      width: 80%;
      text-align: justify;
      font-size: 20px;
      font-weight: 500;
  }

  .justific-little {
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        line-height: 1px;
    }

    