/* PAGE */
.container {
  font-family: "Libre Baskerville", serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200vh;
  margin: auto;
  background-color: rgba(95, 172, 88, .4);
}
/* SECTION */
.sec_top{
  color: white;
  border: 2px solid rgb(95, 172, 88);
  background:rgba(0, 0, 0, 0.7);
  padding:20px;
  margin: 20px;
  box-shadow: 5px 5px 10px black;
}
.sec_top p{
      text-align: justify;
      font-size: 20px;
      font-weight: 500;
      padding: 10px;
    }
.sec_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px 0;

}



.bloc {
  background:center center no-repeat url(img/presentation/foret.jpg);
  background-size:cover;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: rgb(95, 172, 88) 2px solid;
  margin: 20px auto;
  box-shadow: 10px 10px 30px black;
  padding: 20px;
  text-align: center;
  color: black;
}
/* CARDS */
.article_vs{
  width: 200px;
  height: 300px;
  border: 2px solid rgb(95, 172, 88);
  margin-bottom: 30px;
  box-shadow: 5px 5px 10px black;
  
}
/* TITLE CARDS */
.article_vs h2 {
  color: white;
  font-size: 50px;
  margin:auto auto;
  color: rgb(39, 163, 55);
  text-shadow: 2px 2px 5px black ;
}
/* BG CARDS  */
.plantes_bg {
  background: center center url(img/presentation/plantes.jpg);
  background-size: cover;
}
.fleurs_bg {
  background: center center url(img/presentation/fleurs.jpg);
  background-size: cover;
}
.arbustes_bg {
  background: center center url(img/presentation/arbustes.jpg);
  background-size: cover;
}
.legumes_bg {
  background: center center url(img/presentation/tomates.jpg);
  background-size: cover;
}

/* HEADER */
#cont_head {
  width: auto;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(95, 172, 88);
  box-shadow: 5px 5px 30px black;
  margin-bottom: 20px;
  background: center center fixed no-repeat
  url(img/presentation/grand-feuillage-feuille-tropicale-texture-vert-fonce-fond-nature-abstraite_1484-1608.jpg);
background-size: cover ;
}

#cont_head h1 {
  font-size: 25px;
  margin-left: 20px;
  color: rgb(255, 255, 255);

}
.menu {
  margin: 0 0 0 auto;
  width: auto;
}
.menu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0 30px;
  font-size: 15px;
  opacity: 0.5;
  font-size: 20px;
}
.menu a:hover {
  color: rgb(142, 202, 142);
  text-shadow: 5px 5px 30px rgb(39, 163, 55);
  opacity: 1;
  transition: 1s;
}

/* FOOTER */
.sec_foot{
  margin-top: 20px;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  box-shadow: 5px 5px 10px black;
  background: center center fixed
  url(img/presentation/grand-feuillage-feuille-tropicale-texture-vert-fonce-fond-nature-abstraite_1484-1608.jpg);
  border-top: 2px solid rgb(95, 172, 88);
  
}

/*----------------------------- DENIS------------------------------- */

.trait-green {
    border: 0;
    border-bottom: solid 3px #29941b;
    display: inline-flex;
    margin: 0.5em 0;
    width:90%;
}



.bloc-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 500px;
    box-sizing: border-box;
    padding: 0 0 0 0.5em;
    text-align: justify;
}

.bloc-box-big {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    box-sizing: border-box;
    padding: 0 0 0 0.5em;
    text-align: justify;
}

.image.left{
    float:left;
    padding: 0 1.5em 1em 0;
    top: 0.25em;
}

.article_vs_bis {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: rgb(39, 163, 55) 2px solid;
    border-radius: 50px;
    background-color: bisque;
    margin: 5px;
    box-shadow: 5px 5px 5px black;
    padding: 5px;
    text-align: center;
    color: rgb(128, 62, 8);
    
  }

  .justific {
      width: 80%;
      text-align: justify;
      font-size: 20px;
      font-weight: 500;
  }

  .justific-little {
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        line-height: 1px;
    }

    